In [6]:
import dask.dataframe as dd
import numpy as np

In [2]:
dfCosmicM = dd.read_csv('../data/raw/CosmicCompleteDifferentialMethylation.tsv', sep='\t')

### IDEA 1

In [8]:
df = dd.read_csv('../data/processed/CosmicSampleAge.csv')

In [9]:
dfSol = dd.merge(dfCosmicM, df, how='outer', on='ID_SAMPLE')

In [25]:
dfSol1  = dfSol.drop([u'STUDY_ID', u'SAMPLE_NAME', u'ID_TUMOUR',
        u'SITE_SUBTYPE_1', u'SITE_SUBTYPE_2',
       u'SITE_SUBTYPE_3', u'HISTOLOGY_SUBTYPE_1',
       u'HISTOLOGY_SUBTYPE_2', u'HISTOLOGY_SUBTYPE_3',
       u'GENOME_VERSION', u'CHROMOSOME', u'STRAND', 'FRAGMENT_ID', 'AVG_BETA_VALUE_NORMAL', 'BETA_VALUE', 'TWO_SIDED_P_VALUE'], axis=1)

In [26]:
dfSol1.head()

,ID_SAMPLE,PRIMARY_SITE,PRIMARY_HISTOLOGY,POSITION,GENE_NAME,METHYLATION,age
0,1783508,endometrium,carcinoma,165805031,NaN,H,73.0
1,1783508,endometrium,carcinoma,166056842,NaN,H,73.0
2,1783508,endometrium,carcinoma,4862761,MSX1,L,73.0
3,1783508,endometrium,carcinoma,2271461,NaN,H,73.0
4,1783508,endometrium,carcinoma,26017052,NaN,H,73.0

In [28]:
dfIdea1 = dfSol1.compute().dropna(axis=0)

In [30]:
dfIdea1.to_csv('../data/processed/Methylation_Idea1.csv', index=False)

### IDEA 2

In [51]:
dfSol2  = dfCosmicM.drop([u'STUDY_ID', u'SAMPLE_NAME', u'ID_TUMOUR',
        u'SITE_SUBTYPE_1', u'SITE_SUBTYPE_2',
       u'SITE_SUBTYPE_3', u'HISTOLOGY_SUBTYPE_1',
       u'HISTOLOGY_SUBTYPE_2', u'HISTOLOGY_SUBTYPE_3',
       u'GENOME_VERSION', u'STRAND', 'FRAGMENT_ID', 'AVG_BETA_VALUE_NORMAL', 'GENE_NAME', 'BETA_VALUE', 'TWO_SIDED_P_VALUE'], axis=1)

In [52]:
dfSol2.head()

   ID_SAMPLE PRIMARY_SITE PRIMARY_HISTOLOGY  CHROMOSOME   POSITION METHYLATION
0    1780195         lung         carcinoma           1  158930759           L
1    2194833         lung         carcinoma          16   22915304           L
2    1914101         lung         carcinoma           6   27558244           H
3    1914035         lung         carcinoma           7   15687816           H
4    2339891         lung         carcinoma           2  176084004           H

In [45]:
dfIdea2 = dfSol2.compute().dropna(axis=0)

In [46]:
dfIdea2.head()

,ID_SAMPLE,PRIMARY_SITE,PRIMARY_HISTOLOGY,CHROMOSOME,POSITION,METHYLATION,age
0,1783508,endometrium,carcinoma,6,165805031,H,73.0
1,1783508,endometrium,carcinoma,6,166056842,H,73.0
2,1783508,endometrium,carcinoma,4,4862761,L,73.0
3,1783508,endometrium,carcinoma,11,2271461,H,73.0
4,1783508,endometrium,carcinoma,6,26017052,H,73.0

In [47]:
dfIdea2.to_csv('../data/processed/Methylation_Idea2.csv', index=False)